<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lulu App Automation with appium">
  <test thread-count="7" name="suite-test-testng">
    <classes>
    
       <class name="AndroidSetup.AndroidSetup"/>
       <class name="test.myOrderTest"/>
       <class name="test.Logintest"/>
       <class name="test.logoutTest"/>
       <class name="test.allCategoryTest"/> 
       <class name="test.storeLocatoreTest"/>  
       <class name="test.addCartTest"/>
       <class name="test.locationDeliveryTest"/>     
   
    </classes>
  </test> 
</suite>
 
 